FLAKE_ARGS=()
type -p nix > /dev/null && FLAKE_USE=1 || FLAKE_USE=

source_env_if_exists .envrc.conf

PATH_add "$PWD/ci/bin"

if [[ -n "$FLAKE_USE" ]]; then
	use flake .#${FLAKE_SHELL-default} "${FLAKE_ARGS[@]}"
	watch_file ci/wp-gir-filter.sh

	export FLAKE_OPTS=${FLAKE_OPTS:-"${FLAKE_ARGS[*]}"}
fi
